@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    transition: all .2s ease-in-out;
}

:root {
    --main-color: #f85b38;
    /* --main-color: #364c16; */
    --main-color-opacity: #2c440bf3;
    --main-color-hover: #f85b38c4;
    --main-color-active: #f85b388c;
    --sub-main-color: #a2d84c;
    --btn-color: #f85b38;
    --text-color: #000000;
    --text-color-op: #000000e0;
    --star-background: #f24330;
    --card-background: #f2f2f2;
    --background-opacity: #8d8d8d3d;
    --color: #ffffff;
    --color-text-opacity: #00000079;
    --color-opacity: #ffffff3f;
    /* linear gradient  */
    /* background: linear-gradient(to right, #0d0b44f3, var(--main-color-opacity)) */
    /* etoile or : &#x2B50; */
}

button {
    cursor: pointer;
}

/* scroll top  */
.scroll-top {
    position: fixed;
    z-index: 100;
    bottom: 4.5em;
    right: 4.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #f85b38;
    box-shadow: 0px 0px 10px #fc5837;
    animation: btnslack .5s linear infinite;
}

/* .scroll-top:hover{
    bottom: 5em;
} */

.scroll-top:active {
    background-color: #f85b38d2;
}

.scroll-top a {
    color: #fff;
    font-weight: 700;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes btnslack {
    0% {
        right: 5em;
    }

    25% {
        right: 4em;
    }

    50% {
        right: 4.5em;
    }

    75% {
        bottom: 5em;
    }

    100% {
        bottom: 4.5em;
    }

}

::selection {
    background: var(--main-color);
    color: var(--color);
}


body {
    width: 100%;
    height: auto;
    /* overflow-y: hidden; */
    margin: 0;
}


.container-fluid {
    width: 100%;
    height: 100vh;
    /* overflow-y: hidden; */
}

.first-header {
    width: 100%;
    background: var(--text-color);
}

.container {
    width: 90%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .icons-left {
    width: auto;
}

.container .icons-left ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    clear: both;
}

.container .icons-left ul li {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    background: var(--background-opacity);
    border-radius: 100%;
}

.container .icons-left ul li a {
    color: var(--color-opacity);
    font-size: 1.3em;
}

.container .icons-left ul li a:hover .whatsapp {
    color: #85d416;
}

.container .icons-left ul li a:hover .google {
    color: rgb(211, 26, 26);
}

.container .icons-left ul li a:hover .twitter {
    color: rgb(112, 112, 230);
}

.container .icons-left ul li a:hover .facebook {
    color: rgb(47, 47, 240);
}

.container .icons-left ul li a:hover .linkedin {
    color: rgb(137, 137, 201);
}

.container .contacts-right {
    width: auto;
    padding-right: 1em;
}

.container .contacts-right ul {
    display: flex;
    width: 100%;
    margin-left: 1em;
    justify-content: space-between;
    align-items: center;
}

.container .contacts-right ul li {
    margin-left: 1em;
}

.container .contacts-right ul li span {
    color: var(--color-opacity);
}

.container .contacts-right ul li span>.phone_up {
    color: var(--main-color);
}

.container .contacts-right ul li .last {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 2px;
    padding: 5px;
    color: rgb(255, 255, 255);
    background: var(--main-color);
    cursor: pointer;
}

.container .contacts-right ul li .last:hover {
    background: var(--main-color-hover);
}

.container .contacts-right ul li .last:active {
    background: var(--main-color-active);
}

@media (max-width: 900px) {
    .contacts-right ul li span {
        display: none;
    }

    .contacts-right ul li .menu-icon {
        display: block;
        margin-right: 20px;
    }

    .project-container form .btn {
        width: 35%;
        padding-left: 0;
        padding-right: 0;
        margin-left: -1.8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .project-container form .btn {
        width: 35%;
        padding-left: 0;
        padding-right: 0;
        margin-left: -1.8em;
    }
}

/* nav bar contain  */

.navbar {
    width: 100%;
}

.navabar-container {
    width: 90%;
    height: 5em;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navabar-container .logo a {
    color: var(--text-color);
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
}

.navabar-container .logo .h1 {
    margin-right: 0.5em;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 2.5em;
}

.navabar-container .logo h4 {
    font-size: small;
    text-align: left;
    line-height: 15px;
    background-color: var(--main-color);
    color: var(--color);
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 500;
    /* font-style: italic; */
    border-radius: 1px;
    transform: skew(-15deg, 0);
}

.navabar-container .links {
    width: auto;
}

.navabar-container .links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navabar-container .links ul li {
    box-sizing: border-box;
    margin-left: 2em;
}

.navabar-container .links ul li a {
    text-transform: uppercase;
    color: var(--text-color);
    padding-bottom: 1.4em;
}

.navabar-container .links ul li a:hover {
    font-weight: 700;
    border-bottom: 7px solid var(--btn-color);
    /* font-size: 15px; */
}

/* .navabar-container .links ul li a:visited {
    color: var(--btn-color);
    font-weight: 700 !important;
    border: 2px dashed;
    border-bottom: 7px solid var(--btn-color) !important;
} */

/* menu-icon  */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    /* float: right; */
    padding: 28px 20px;
    position: relative;
    user-select: none;
    display: none;
}

.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.menu-btn {
    display: none;
}


.menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

@media (max-width: 1100px) {
    .links ul li a {
        display: none;
    }

    .links ul li .menu-icon {
        display: block;
        margin-right: -5em;
    }
}


/* ARICLE  */
.content-article {
    position: relative;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;

}

.slide {
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    /* margin-bottom: 5em; */
    animation: slides 45s linear infinite;
}

@keyframes slides {
    0% {
        left: 0%;
    }

    5% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    15% {
        left: 0%;
    }

    20% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    30% {
        left: -100%;
    }

    35% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    55% {
        left: -200%;
    }

    60% {
        left: -200%;
    }

    65% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -100%;
    }

    80% {
        left: -100%;
    }

    85% {
        left: -100%;
    }

    90% {
        left: -100%;
    }

    95% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

.article {
    position: relative;
    width: 100%;
    /* overflow-y: hidden; */
    /* height: 650px; */
    height: max-content;
    padding-top: 10em;
    padding-bottom: 10em;
    background: linear-gradient(to right, #0d0b44f3, var(--main-color-opacity)), url(images/all.png) no-repeat center;
    background-size: cover;
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.article1 {
    position: relative;
    width: 100%;
    /* overflow-y: hidden; */
    /* height: 650px; */
    height: max-content;
    padding-top: 10em;
    padding-bottom: 10em;
    background: linear-gradient(to right, #0d0b44f3, var(--main-color-opacity)), url(images/commerce.png) no-repeat center;
    background-size: cover;
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.article2 {
    position: relative;
    width: 100%;
    /* overflow-y: hidden; */
    /* height: 650px; */
    height: max-content;
    padding-top: 10em;
    padding-bottom: 10em;
    background: linear-gradient(to right, #0d0b44f3, var(--main-color-opacity)), url(images/img-hero-solutions-it-removebg-preview.png) no-repeat center;
    background-size: cover;
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.article-container {
    position: relative;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-contenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenu-after {
    display: flex;
    /* padding: 1em 0 1em 0; */
    width: 99vw;
    justify-content: center;
    margin-bottom: 2em;
}

.contenu-after .block1 {
    background: var(--color-opacity);
    width: 35%;
    height: 100px;
    /* padding: 1em 0 1em 0; */
}

.contenu-after .block2 {
    /* background-color: green; */
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 1em 0 1em 0; */
}

.contenu-after .block3 {
    background: var(--color-opacity);
    width: 35%;
    height: 100px;
    /* padding: 1em 0 1em 0; */
}


.article-contenu .block2 h1 {
    position: relative;
    color: var(--color);
    text-transform: uppercase;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    overflow: auto;
    /* margin-bottom: 0.3em; */
}


/* .article-contenu h1::before {
    content: '';
    position: absolute;
    width: 45%;
    height: 100px;
    background: var(--color-opacity);
    left: -6em;
    top: .1em;
}

.article-contenu h1::after {
    content: '';
    position: absolute;
    width: 45%;
    height: 100px;
    background: var(--color-opacity);
    right: -5.862em;
    top: .1em;
} */

.article-contenu p {
    color: var(--color);
    width: 70%;
    margin: auto;
    margin-bottom: 0.3em;
    height: 70px;
    overflow: auto;
    /* margin-bottom: 2em; */
}

.article-contenu button {
    padding-left: 5em;
    padding-right: 5rem;
    padding-bottom: 1em;
    padding-top: 1em;
    background: var(--btn-color);
    color: #fff;
    /* color: var(--text-color); */
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 3em;
    cursor: pointer;

}

.article-contenu button:hover {
    box-shadow: 0px 1px 4px #f85b38;
}

.article-contenu .triple-point {
    width: 6em;
    height: max-content;
    /* border: 1px solid black; */
    position: absolute;
    bottom: -7.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-contenu .triple-point .point1 {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color);
    margin: auto;
    cursor: pointer;
}

.article-contenu .triple-point .point2 {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color-opacity);
    margin: auto;
    cursor: pointer;
}

.article-contenu .triple-point .point3 {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color-opacity);
    margin: auto;
    cursor: pointer;
}

.article1 .article-contenu .triple-point div:nth-child(1),
.article1 .article-contenu .triple-point div:nth-child(3) {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color-opacity);
    margin: auto;
    cursor: pointer;
}

.article1 .article-contenu .triple-point div:nth-child(2) {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color);
    margin: auto;
    cursor: pointer;
}

.article2 .article-contenu .triple-point div:nth-child(1),
.article2 .article-contenu .triple-point div:nth-child(2) {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color-opacity);
    margin: auto;
    cursor: pointer;
}

.article2 .article-contenu .triple-point div:nth-child(3) {
    width: 15%;
    height: 15px;
    border-radius: 100%;
    border: none;
    background: var(--color);
    margin: auto;
    cursor: pointer;
}

@media (max-width: 1800px) {
    .article-contenu .block2 h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 1600px) {
    .article-contenu .block2 h1 {
        font-size: 2em;
    }
}

@media (max-width: 900px) {
    .article-contenu .block2 h1 {
        font-size: 2em;
    }
}
@media (max-width: 700px) {
    .article-contenu .block2 h1 {
        font-size: 1.5em;
    }
}


/* SECTION AVANTAGES  */

.avantage {
    height: max-content;
    box-shadow: 0px 4px 10px var(--background-opacity);
    padding-top: 3em;
    padding-bottom: 3em;
    /* margin-bottom: 5em; */
    overflow: hidden;
}

.avantage-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

/* .avantage-container .titre-texte {
     width: 100%; 
    border: 1px solid;
} */
.avantage-container .titre-texte h1 {
    font-size: 40px;
}


.avantage-container .titre-texte h1 span:nth-child(1) {
    margin-right: .2em;
}

.avantage-container .titre-texte h1 span:nth-child(2) {
    color: var(--main-color);
}


.avantage-container .titre-texte p {
    width: 50%;
    margin: auto;
    margin-top: 1em;
    color: var(--color-text-opacity);
}

.presentation-avantages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;

}

.presentation-avantages .avantage1 {
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 8px;
}

/* .presentation-avantages .avantage1:hover,
.presentation-avantages .avantage2:hover,
.presentation-avantages .avantage3:hover,
.presentation-avantages .avantage4:hover,
.presentation-avantages .avantage5:hover {
    box-shadow: -1px 9px 15px #e4e3e3;
} */

.presentation-avantages .avantage1 .texte h3 {
    text-transform: uppercase;
}

.presentation-avantages .avantage1 .texte p {
    color: var(--color-text-opacity);
    font-size: 14px;
}

.presentation-avantages .avantage1 .logo {
    background: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 160px;
    border-radius: 100%;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.presentation-avantages .avantage1 .logo:hover {
    box-shadow: 0px 0px 10px green;
}

.presentation-avantages .avantage1 .logo img {
    width: 50%;
    height: 50%;
}


.presentation-avantages .avantage2 {
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 8px;
}

.presentation-avantages .avantage2 .texte h3 {
    text-transform: uppercase;
}

.presentation-avantages .avantage2 .texte p {
    color: var(--color-text-opacity);
    font-size: 14px;
}

.presentation-avantages .avantage2 .logo {
    background: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 160px;
    border-radius: 100%;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.presentation-avantages .avantage2 .logo:hover {
    box-shadow: 0px 0px 10px blueviolet;
}

.presentation-avantages .avantage2 .logo img {
    width: 50%;
    height: 50%;
}

.presentation-avantages .avantage3 {
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 8px;
}

.presentation-avantages .avantage3 .texte h3 {
    text-transform: uppercase;
}

.presentation-avantages .avantage3 .texte p {
    color: var(--color-text-opacity);
    font-size: 14px;
}

.presentation-avantages .avantage3 .logo {
    background: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 160px;
    border-radius: 100%;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.presentation-avantages .avantage3 .logo:hover {
    box-shadow: 0px 0px 10px rgb(19, 137, 206);
}

.presentation-avantages .avantage3 .logo img {
    width: 50%;
    height: 50%;
}

.presentation-avantages .avantage4 {
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 8px;
}

.presentation-avantages .avantage4 .texte h3 {
    text-transform: uppercase;
}

.presentation-avantages .avantage4 .texte p {
    color: var(--color-text-opacity);
    font-size: 14px;
}

.presentation-avantages .avantage4 .logo {
    background: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 160px;
    border-radius: 100%;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.presentation-avantages .avantage4 .logo:hover {
    box-shadow: 0px 0px 10px var(--main-color);
}

.presentation-avantages .avantage4 .logo img {
    width: 50%;
    height: 50%;
}

.presentation-avantages .avantage5 {
    width: 23%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 8px;
}

.presentation-avantages .avantage5 .texte h3 {
    text-transform: uppercase;
}

.presentation-avantages .avantage5 .texte p {
    color: var(--color-text-opacity);
    font-size: 14px;
}

.presentation-avantages .avantage5 .logo {
    background: var(--card-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 160px;
    border-radius: 100%;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.presentation-avantages .avantage5 .logo:hover {
    box-shadow: 0px 0px 10px var(--sub-main-color);
}

.presentation-avantages .avantage5 .logo img {
    width: 50%;
    height: 50%;
}

@media (max-width : 1800px) {
    .presentation-avantages .avantage1 .logo {
        width: 55%;
    }

    .presentation-avantages .avantage2 .logo {
        width: 55%;
    }

    .presentation-avantages .avantage3 .logo {
        width: 55%;
    }

    .presentation-avantages .avantage4 .logo {
        width: 55%;
    }

    .presentation-avantages .avantage5 .logo {
        width: 55%;
    }
}

@media (max-width: 1000px) {
    .presentation-avantages {
        flex-wrap: wrap;
    }

    .presentation-avantages .avantage1 {
        width: 35%;
    }

    .presentation-avantages .avantage2 {
        width: 35%;
    }

    .presentation-avantages .avantage3 {
        width: 35%;
    }

    .presentation-avantages .avantage4 {
        width: 35%;
    }

    .presentation-avantages .avantage5 {
        width: 35%;
    }
}

@media (max-width : 900px) {
    .avantage-container .titre-texte p {
        font-size: 0.8em;
    }

    .presentation-avantages {
        flex-wrap: wrap;
    }

    .presentation-avantages .avantage1 {
        width: 33%;
        margin: auto;
    }

    .presentation-avantages .avantage2 {
        width: 33%;
        margin: auto;
    }

    .presentation-avantages .avantage3 {
        width: 33%;
        margin: auto;
    }

    .presentation-avantages .avantage4 {
        width: 33%;
        margin: auto;
    }

    .presentation-avantages .avantage5 {
        width: 33%;
        margin: auto;
    }
}

@media (max-width : 800px) {

    .presentation-avantages {
        flex-wrap: wrap;
    }

    .presentation-avantages .avantage1 {
        width: 50%;
        margin: auto;
    }

    .presentation-avantages .avantage2 {
        width: 50%;
        margin: auto;
    }

    .presentation-avantages .avantage3 {
        width: 50%;
        margin: auto;
    }

    .presentation-avantages .avantage4 {
        width: 50%;
        margin: auto;
    }

    .presentation-avantages .avantage5 {
        width: 50%;
        margin: auto;
    }
}

@media (max-width : 700px) {

    .presentation-avantages {
        display: block;
    }

    .presentation-avantages .avantage1 {
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }

    .presentation-avantages .avantage2 {
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }

    .presentation-avantages .avantage3 {
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }

    .presentation-avantages .avantage4 {
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }

    .presentation-avantages .avantage5 {
        width: 70%;
        margin: auto;
        margin-bottom: 2em;
    }

    .avantage-container .titre-texte p {
        width: 90%;
        margin: auto;
    }

    .presentation-avantages .avantage1 .logo {
        width: 45%;
    }
    .presentation-avantages .avantage2 .logo {
        width: 45%;
    }
    .presentation-avantages .avantage3 .logo {
        width: 45%;
    }
    .presentation-avantages .avantage4 .logo {
        width: 45%;
    }
    .presentation-avantages .avantage5 .logo {
        width: 45%;
    }
}


/* ABOUT US  */
.about {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, var(--card-background)50%, #adabab4a 50%);
    padding-top: 3em;
    padding-bottom: 3em;
}

.about-container {
    /* border: 2px solid; */
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: min-content; */
    /* margin-top: 2em; */
}

.about-container .textes {
    width: 45%;
}

.about-container .textes p {
    text-align: justify;
}

.about-container .textes>p {
    margin-bottom: 1em;
}

.about-container .textes button {
    padding-left: 5em;
    padding-right: 5rem;
    padding-bottom: 1em;
    padding-top: 1em;
    background: var(--btn-color);
    color: #fff;
    /* color: var(--text-color); */
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 3em;
    cursor: pointer;
}

.about-container .textes button:hover {
    box-shadow: 0px 1px 10px #f85b38;
}

.about-container .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.about-container .image img {
    width: 100%;
    height: 100%;
}

.about h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 1em;
    /* position: absolute;
    top: 1em;
    left: 40%; */
}

.about h1 span:nth-child(1) {
    margin-right: .2em;
}

.about h1 span:nth-child(2) {
    color: var(--main-color);
}

@media (max-width: 1100px) {
    .about-container .textes>p {
        font-size: 12px;
    }

    .about-container .textes button {
        padding-left: 3.5em;
        padding-right: 3.5rem;
        padding-bottom: .9em;
        padding-top: .9em;
        font-size: 12px;
    }
}

@media (max-width: 900px) {
    .about-container {
        width: 90%;
        margin: auto;
        display: block;
    }

    .about-container .textes {
        width: 100%;
    }

    .about-container .image {
        margin-top: 1em;
        width: 100%;
    }
}


/* NOS SERVICES  */

.services {
    width: 100%;
    height: max-content;
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.services-container {
    width: 90%;
    margin: auto;
}

.services-container .titre-texte h1 {
    font-size: 40px;
    text-align: center;
}


.services-container .titre-texte h1 span:nth-child(1) {
    margin-right: .2em;
}

.services-container .titre-texte h1 span:nth-child(2) {
    color: var(--main-color);
}

.services-container .titre-texte p {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    color: var(--color-text-opacity);
}

.contenu-cosmetiques {
    margin-top: 5em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contenu-cosmetiques .contenu1 {
    padding: 2em;
    position: relative;
    width: 20%;
    border-radius: 8px;
    height: auto;
    background-color: var(--card-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenu-cosmetiques>.contenu1:hover {
    box-shadow: 0px 0px 15px #f2f2f2;
    margin-top: -30px;
}

.contenu-cosmetiques .contenu1 .cercle {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: var(--btn-color);
    position: absolute;
    top: -40px;
}

.contenu-cosmetiques .contenu1 .cercle img {
    width: 50%;
    height: 50%;
}

.contenu-cosmetiques .contenu1 h3 {
    margin-top: 1.5em;
    text-transform: uppercase;
}

.contenu-cosmetiques .contenu1 p {
    margin-top: .3em;
    margin-bottom: 3em;
    text-align: center;
    color: var(--color-text-opacity);
}

.contenu-cosmetiques .contenu1 a {
    text-decoration: underline;
    color: var(--btn-color);
}

@media (min-width: 100px) {
    .contenu-cosmetiques .contenu1 h3 {
        height: 50px;
        overflow: auto;
    }

    .contenu-cosmetiques .contenu1 p {
        height: 50px;
        overflow: auto;
    }
}

@media (max-width: 1100px) {
    .contenu-cosmetiques {
        flex-wrap: wrap;
    }

    .contenu-cosmetiques .contenu1 {
        width: 23%;
        margin: auto;
    }

    .contenu-cosmetiques .contenu1 h3 {
        height: 50px;
        overflow: auto;
    }

    .contenu-cosmetiques .contenu1 p {
        height: 50px;
        overflow: auto;
    }
}

@media (max-width: 1000px) {
    .contenu-cosmetiques {
        flex-wrap: wrap;
    }

    .contenu-cosmetiques .contenu1 {
        width: 40%;
        margin: auto;
        margin-bottom: 3em;
    }
}

@media (max-width: 800px) {
    .contenu-cosmetiques .contenu1 {
        width: 45%;
        margin: auto;
        margin-bottom: 2em;
    }

    .contenu-cosmetiques .contenu1 p {
        height: 50px;
        overflow: auto;
    }

    .services-container .titre-texte p {
        text-align: center;
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 700px) {
    .contenu-cosmetiques {
        display: block;
    }

    .contenu-cosmetiques .contenu1 {
        width: 70%;
        margin: auto;
        margin-bottom: 3em;
    }

    .contenu-cosmetiques .contenu1 p {
        height: 50px;
        overflow: auto;
    }
}


/* PORTFOLIO  */
.portfolio {
    width: 100%;
    height: max-content;
    padding-top: 2em;
    padding-bottom: 2em;
    background: var(--text-color-op);
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.portfolio-container .titre-texte h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}


.portfolio-container .titre-texte h1 span:nth-child(1) {
    color: var(--color);
    margin-right: .2em;
}

.portfolio-container .titre-texte h1 span:nth-child(2) {
    color: var(--main-color);
}

.portfolio-container .titre-texte p {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    color: var(--color-opacity);
}

.portfolio-container .liens-portfolio {
    width: 50%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.portfolio-container .liens-portfolio ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio-container .liens-portfolio ul li a {
    text-transform: uppercase;
    color: var(--card-background);
}

.portfolio-container .liens-portfolio ul li a:hover {
    color: var(--btn-color);
}

/* .portfolio-container .liens-portfolio ul li .logo:visited {
    color: var(--btn-color);
} */

.portfolio-container .liens-portfolio ul li .logo {
    color: var(--btn-color);
}

.portfolio-container .images {
    width: 90%;
    margin: auto;
    height: auto;
    display: block;
}

.portfolio-container .images .first {
    display: flex;
}

.portfolio-container .images .first>div {
    position: relative;
    width: 25%;
    height: 350px;
    cursor: pointer;
    background: #8ec63f;
    /* z-index: 100; */
    /* border: 1px solid white; */
}

.portfolio-container .images .first>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    position: relative;
}

.portfolio-container .images .first>div:hover {
    background-color: #85d416;
    z-index: 1;
}

.portfolio-container .images .first .premier:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e2240f71;
}

.portfolio-container .images .first .deux:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #dee20f88;
}

.portfolio-container .images .first .trois:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #20e20f71;
}

.portfolio-container .images .first .quatre:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #710fe271;
}

.portfolio-container .images .first .cinq:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e20fa371;
}

.portfolio-container .images .first .six:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e27f0f71;
}

.portfolio-container .images .first .sept:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #14a9bd71;
}

.portfolio-container .images .first .huit:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #c71a1a71;
}

.portfolio-container .images .first .neuf:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #2ec71a71;
}

.portfolio-container .images .first .dix:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e20f6071;
}

@media (max-width: 1400px) {
    .portfolio-container .liens-portfolio {
        width: 70%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

@media (max-width: 1000px) {
    .portfolio-container .liens-portfolio {
        width: 70%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .portfolio-container .images .first {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .portfolio-container .titre-texte p {
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .portfolio-container .liens-portfolio {
        width: 90%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

@media (max-width: 800px) {
    .portfolio-container .liens-portfolio {
        width: 90%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .portfolio-container .images .first>div {
        width: 33.33%;
    }
}

@media (max-width: 700px) {
    .portfolio-container .liens-portfolio {
        width: 90%;
        margin: auto;
        margin-top: 3em;
        margin-bottom: 3em;
    }

    .portfolio-container .liens-portfolio ul {
        flex-wrap: wrap;
    }

    .portfolio-container .images .first>div {
        width: 50%;
    }
}

@media (max-width: 400px) {
    .portfolio-container .images .first>div {
        width: 100%;
    }
}

/* Votre Projet  */
.project {
    width: 100%;
    height: max-content;
    padding-top: 3em;
    padding-bottom: 3em;
    background: linear-gradient(to right, #0d0b44f3, var(--main-color-opacity)), url(images/all.png) no-repeat center;
    background-size: cover;
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.project-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.project-container h1 {
    color: var(--color);
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.project-container form {
    width: 55%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: 1em; */
    margin-bottom: 1em;
}

.project-container form .form-group {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.project-container form .form-group input {
    padding-left: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    border: none;
    border-radius: 5px;
    outline: none;
}

.project-container form .form-group input:focus {
    border: 1.5px solid var(--btn-color);
}

.project-container form .btn {
    padding-left: 3em;
    padding-right: 3rem;
    padding-bottom: .8em;
    padding-top: .8em;
    background: var(--btn-color);
    color: #fff;
    /* color: var(--text-color); */
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    /* letter-spacing: 2px; */
    font-weight: 700;
    font-size: 15px;
    margin-left: 1.2em;
    cursor: pointer;
    /* margin-top: 3em; */
}

.project-container p {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 2em;
    color: var(--color);
}

@media (max-width: 2000px) {
    .project-container form {
        width: 60%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .project-container form .form-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
    }
}

@media (max-width: 1600px) {
    .project-container form {
        width: 70%;
    }
}

@media (max-width: 1300px) {
    .project-container form {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .project-container form {
        width: 95%;
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {
    .project-container form {
        width: 95%;
    }

    .project-container form .form-group {
        margin-bottom: 1em;
        justify-content: center;
    }

    .project-container form .form-group input {
        margin: 1em;
    }
}

@media (max-width: 600px) {
    .project-container form .form-group {
        margin-bottom: 1em;
        justify-content: center;
        width: 100%;
    }

    .project-container form .form-group input {
        width: 100%;
    }

    .project-container p {
        width: 100%;
    }
}

/* CONTACT  */
.contact {
    width: 100%;
    height: max-content;
    padding-top: 3em;
    /* padding-bottom: 3em; */
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.contact-container {
    width: 90%;
    margin: auto;
}

.contact-container .titre-texte h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}


.contact-container .titre-texte h1 span:nth-child(1) {
    margin-right: .2em;
}

.contact-container .titre-texte h1 span:nth-child(2) {
    color: var(--main-color);
}

.contact-container .titre-texte p {
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1em;
    color: var(--color-text-opacity);
}

.contact-container .lieux {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    text-align: center;
}


.contact-container .lieux p i {
    color: var(--main-color);
}

.contact-container .lieux ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-top: 1em;
}

.contact-container .lieux ul li span {
    display: flex;
    align-items: center;
}

.contact-container .lieux ul li span i {
    color: var(--main-color);
}

.map {
    margin-top: 2em;
    width: 100%;
    height: 500px;
}

@media (max-width: 1400px) {
    .contact-container .lieux ul {
        width: 60%;
    }
}

@media (max-width: 1100px) {
    .contact-container .lieux ul {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    .contact-container .lieux ul {
        width: 80%;
    }
}

@media (max-width: 850px) {
    .contact-container .lieux ul {
        width: 100%;
        flex-wrap: wrap;
    }
}

/* footer  */
footer {
    width: 100%;
    height: max-content;
    padding-top: 3em;
    padding-bottom: 3em;
    background: linear-gradient(to right, #0d0b44f3, var(--main-color-opacity)), url(images/all.png) no-repeat center;
    /* background: linear-gradient(to right, var(--main-color-opacity), var(--main-color-opacity)), url('images/all.png') no-repeat center; */
    background-size: cover;
    box-shadow: 0px 5px 10px var(--background-opacity);
}

.footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: auto;
}

.footer-container>div {
    width: 20%;
    height: auto;
    position: relative;
}


.footer-container>div:nth-child(2),
.footer-container>div:nth-child(3) {
    border-right: 3px solid var(--color-opacity);
}

.footer-container .logo {
    margin-bottom: 1em;
}

.footer-container .logo a {
    color: var(--color);
    display: flex;
    width: auto;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

.footer-container .logo .h1 {
    margin-right: 0.5em;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 2.5em;
}

.footer-container .logo h4 {
    font-size: small;
    text-align: left;
    line-height: 15px;
    background-color: var(--btn-color);
    color: var(--color);
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 500;
    /* font-style: italic; */
    border-radius: 1px;
    transform: skew(-15deg, 0);
}

.footer-container .text {
    color: var(--color);
    text-align: left;
    font-size: 15px;
}

.footer-container .second h2,
.footer-container .trois h2,
.footer-container .quatre h2 {
    color: var(--color);
    margin-bottom: 1em;
}

.footer-container .text ul li {
    line-height: 3;
}

.footer-container .text ul li a {
    color: var(--color);
    text-decoration: underline;
}

.footer-container .non ul li span {
    color: var(--color);
    text-decoration: none;
}

.footer-container .non ul ul {
    /* border: 1px solid; */
    display: flex;
    width: 70%;
    margin: auto;
    margin-left: 0;
    justify-content: space-between;
}

.footer-container .non ul ul li {
    width: 90px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    background: var(--color-text-opacity);
    border-radius: 100%;
}

.footer-container .non ul li .follow {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
}

.footer-container .non ul ul li a {
    color: #32461a;
    /* color: var(--main-color); */
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    color: var(--color);
}

@media (max-width: 1800px) {
    .footer-container .non ul ul {
        width: 80%;
    }
}

@media (max-width:900px) {
    .footer-container {
        flex-wrap: wrap;
    }

    .footer-container>div {
        width: 30%;
        margin-bottom: 3em;
        text-align: center;
    }

    .footer-container>div .text {
        text-align: center;
    }

    .footer-container .non ul ul {
        width: 100%;
    }

    .footer-container>div:nth-child(2),
    .footer-container>div:nth-child(3) {
        border: none;
    }
}

@media (max-width:900px) {
    .footer-container>div {
        width: 45%;
        margin-bottom: 3em;
        text-align: left;
    }

    .footer-container>div .text {
        text-align: left;
    }

    .footer-container .non ul ul {
        width: 80%;
    }
}

@media (max-width:700px) {
    .footer-container>div {
        width: 100%;
        margin-bottom: 3em;
        text-align: left;
    }

    .footer-container {
        justify-content: center;
    }

    .footer-container .non ul ul {
        width: 50%;
    }

    .footer-container>div .text {
        text-align: justify;
        margin-bottom: 3em;
    }

    .footer-container>div:nth-child(2),
    .footer-container>div:nth-child(3) {
        border-bottom: 3px solid var(--color-opacity);
    }
}